.product-grid {
    display: grid;
    gap: 0.25rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 0.25fr));
}

.card {
    aspect-ratio: 1 / 1.5;
    border: none;
}

img {
    max-width: 100%;
    display: block;
}

.stacked {
    display: grid;
}

.stacked>* {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.card__img {
    width: 100%;
    aspect-ratio: 1 / 1.25;
    object-fit: cover;
}

.card__title {
    font-size: 1.25rem;
    line-height: 1.1;
    color: firebrick;
}

.card__price {
    font-size: 1.75rem;
}

.card__content {
    background-color: white;
    align-self: end;
    margin: 0.5rem 0.5rem 2rem;
    padding: 0.5rem;
    box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 0.1);
}

p.max-content {
    width: max-content;
}

p.min-content {
    width: min-content;
}